* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    opacity: 0;
    transition-duration: 0.5s;
}
body.fade {
    opacity: 1;
}
#header {
    height: 100vh;
    background: white;
    /*background: rgb(84,22,144);
    background: linear-gradient(90deg, rgba(84,22,144,1), rgba(177,0,128,1) 100%);
    #b10080*/
}
.container {
    margin-right: 80px;
    margin-left: 80px;
}

.logo {
    margin-top: 50px;
    width: 300px;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    position: absolute;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 65px 110px;
}

nav ul li a {
    color: #1f1f1f;
    text-decoration: none;
    font-size: 20px;
    margin-left: 65px;
    transition: 0.1s ease-in-out;
}

nav ul li a:hover {
    color: #a80000;
    cursor: pointer;
}

.header-text {
    color: #1f1f1f;
    max-width: 1150px;
    margin-top: 255px;
}
.header-text h1 {
    animation: fadein 0.2s ease-out 0.6s forwards;
    opacity: 0;
    font-weight: 500;
    font-size: 52px;
}
.header-text p {
    animation: fadein 0.2s ease-out 0.8s forwards;
    opacity: 0;
    font-weight: 300;
    font-size: 22px;
    margin-top: 45px;
}
.tool-text {
    position: absolute;
    display: block;
    margin-left: 4%;
    margin-top: -3%;
}
.tool-text p {
    color: #1f1f1f;
}

.fancy-boxes {
    margin-left: 90%;
    margin-top: -40px;
    position: absolute;
    background-color: #a80000;
    width: 50px;
    height: 40px;
}
.i {
    margin-top: -80px;
    background-color: #707070;
}
.ii {
    margin-top: -120px;
    background-color: #1f1f1f;
}
.iii {
    margin-top: -160px;
    background-color: #731010;
}

.contact-button {
    animation: fadein 0.2s ease-out 1s forwards;
    opacity: 0;
    text-decoration: none;
    color: white;
    border: 2px solid #1f1f1f;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    background-color: #1f1f1f;
    margin-top: 55px;
    font-weight: 600;
    width: 140px;
    transition: 0.1s ease-in-out;
    text-align: right;
}
.contact-button:hover {
    background-color: white;
    border: 2px solid #1f1f1f;
    color: #1f1f1f;
    cursor: pointer;
    width: 190px;
    transition: 0.1s ease-in-out;
}

.further-text {
    font-weight: 700;
    font-size: 50px;
    color: white;
    position: absolute;
    margin-top: 7%;
}
.further-text p {
    font-weight: 300;
    font-size: 22px;
    margin-top: 45px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bi-wordpress {
    margin-left: 5px;
    color: #1f1f1f;
}

.bi-google {
    margin-left: 5px;
    color: #1f1f1f;
}

.bi-microsoft {
    margin-left: 5px;
    color: #1f1f1f;
}
.bi-linkedin {
    margin-left: 65px;
    font-size: 20px;
    color: #1f1f1f;
}
.bi-envelope-fill {
    margin-left: 65px;
    font-size: 20px;
    color: #1f1f1f;
}
.bi-envelope-fill:hover {
    color: #a80000;
    cursor: pointer;
}
.bi-linkedin:hover {
    color: #a80000;
    cursor: pointer;
}


#further-about {
    height: 50vh;
    background-color: #a80000;
}


@media only screen and (max-width: 500px) {
    .header {
        height: 50vh;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logo {
        display: block;
        position: relative;
        width: 200px;
        margin-left: 0px;
    }
    nav {
        display: none;
    }
    .header-text {
        max-width: 450px;
        margin-top: 200px;
    }
    .header-text h1 {
        font-weight: 300;
        font-size: 30px;
    }
    .header-text p {
        font-weight: 500;
        font-size: 15px;
    }
    .line {
        height: 2px;
        width: 45px;
        display: inline-block;
        background: red;
        margin: 15px 0px;
    }
    .bi-wordpress {
        margin-left: 5px;
    }
    
    .bi-google {
        margin-left: 5px;
    }
    
    .bi-microsoft {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        margin-right: 40px;
        margin-left: 40px;
    }
    .logo {
        width: 200px;
        margin-top: 60px;
    } 
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 65px 40px;
    }
    .contact-button {
        width: 143px;
    }
}